# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv*/

# Date colectate
probe/data/
analysis-server/data/

# Environment files
.env

# IDE
.vscode/
.idea/

teste
*.json
get*
*test*
*.xml

*.zip 
collections/

graph.html

old
Documentatie
tools
Images/
data/